<footer class="container max-w-screen-xl">
    <section class="grid grid-cols-4 gap-8 my-3">
        <div>
            <h3 class="text-xl font-semibold my-3">CÔNG TY CỔ PHẦN CANIFA</h3>
            <p>Số ĐKKD: 0107574310, ngày cấp: 23/09/2016, Nơi cấp: Sở Kế hoạch và đầu tư Hà Nội</p>
            <p>Địa chỉ trụ sở tại số 688 Đường Quang Trung, Phường La Khê, Quận Hà Đông, Thành phố Hà Nội.</p>
            <p>Địa chỉ liên hệ: P301, tầng 3, tòa nhà GP Invest, số 170 La Thành, Phường Ô Chợ Dừa, Quận Đống Đa, Thành Phố Hà Nội.</p>
        </div>
        <div>
            <h3 class="text-xl font-semibold my-3">THƯƠNG HIỆU</h3>
        </div>
        <div>
            <h3 class="text-xl font-semibold my-3">HỖ TRỢ</h3>
        </div>
        <div>
            <h3 class="text-xl font-semibold my-3">TẢI ỨNG DỤNG</h3>
        </div>
    </section>
    <hr>
    <section class="flex justify-between">
        <div class="flex items-center">
            <h4 class="text-base font-bold">Tailoi@copyright-2024</h4>
        </div>
        <div class="flex items-center justify-center">
            <img src="https://canifa.com/assets/images/dmca_protected_16_120.png?ID=65c3b4e4-e1a5-4489-85af-2292a68a20fa" alt="">
            <img src="https://canifa.com/assets/images/bocongthuong.png" alt="">
        </div>
    </section>
</footer>