<header class="fixed top-0 left-0 w-full z-2">
    <section class="flex justify-between bg-gray-800 text-white px-7 py-2">
        <h3>Hello admin</h3>
        <div class="flex items-center justify-between gap-8">
            <a href=""><i class="bi bi-bell-fill"></i></a>
            <a href="/" class="flex gap-2 btn btn-warning"><p>Out</p><i class="bi bi-box-arrow-right"></i></a>
        </div>
    </section>
</header>