<header>
    <h1 class="bg-red-700 text-center text-3xl font-semibold py-1 text-white">END OF SEASON SALE 11.07 - 28.07</h1>
    <section class="container max-w-screen-xl m-auto grid grid-cols-2 gap-8 my-3">
        <ul class="flex items-center justify-center gap-8 text-base font-bold">
            <img class="max-w-[90px] h-auto" src="https://canifa.com/assets/images/logo.svg" alt="">
            <li><a href="/">END OF SEASON SALE</a></li>
            <li><a href="/shop">NỮ</a></li>
            <li><a href="/shop">NAM</a></li>
            <li><a href="/shop">BÉ TRAI</a></li>
            <li><a href="/shop">BÉ GÁI</a></li>
        </ul>
        <div class="grid grid-cols-2 gap-8">
            <form action="" class="flex border rounded-lg w-full max-h-[40px] gap-3 px-2">
                <button><i class="bi bi-search"></i></button>
                <input type="text" name="" id="" class="outline-none" placeholder="Tìm kiếm">
            </form>
            <div class="flex items-center justify-center gap-4">
                <a href="/shop" class="text-center text-gray-600">
                    <i class="bi bi-shop text-xl"></i>
                    <p class="text-base">Cửa hàng</p>
                </a>
                <a href="/register" class="text-center text-gray-600">
                    <i class="bi bi-person-circle  text-xl"></i>
                    <p class="text-base">Tài khoản</p>
                </a>
                <a class="text-center text-gray-600">
                    <i class="bi bi-cart-check-fill  text-xl"></i>
                    <p class="text-base">Giỏ hàng</p>
                </a>
            </div>
        </div>
    </section>
</header>