<!-- <section class="col-span-2 bg-gray-800 text-white max-h-[800px]">
<ul class="p-4"> -->
<section
  class="fixed top-0 left-0 h-full w-[280px] bg-gray-800 text-white z-40 mt-10"
>
    <div class="flex flex-col items-center justify-center">
        <img class="rounded-full max-w-28 h-auto object-cover" src="/images/avatar.jpg" alt="">
        <p>Abc@gmail.com</p>
    </div>
  <ul class="flex flex-col h-full p-4">
    <li class="p-2 hover:bg-gray-700">
      <i class="bi bi-speedometer2 mr-2"></i><a href="/admin/dashboard">Dashboard</a>
    </li>
    <li class="p-2 hover:bg-gray-700">
      <i class="bi bi-people-fill mr-2"></i><a href="/admin/listUser">Users</a>
    </li>
    <li class="p-2 hover:bg-gray-700">
      <i class="bi bi-tags-fill mr-2"></i><a href="">Categories</a>
    </li>
    <li class="p-2 hover:bg-gray-700">
      <i class="bi bi-archive-fill mr-2"></i><a href="/admin/listProduct">Products</a>
    </li>
    <li class="p-2 hover:bg-gray-700">
      <i class="bi bi-file-earmark-code-fill mr-2"></i><a href="">Order</a>
    </li>
    <li class="p-2 hover:bg-gray-700">
      <i class="bi bi-file-earmark-code-fill mr-2"></i><a href="">Chats</a>
    </li>
    <li class="p-2 hover:bg-gray-700">
      <i class="bi bi-calendar-week-fill mr-2"></i><a href="">Statistical</a>
    </li>
  </ul>
</section>
